<!-- This is a web development project I completed during my studies at Cardiff University. 
All rights reserved. -->

@charset "utf-8";

/* CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a3a3c2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #e6f3ff;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

th {
    height: 50px;
}

h1 {
    color: #0b275b;
    text-align: center;
    font-family: serif;
    font-stretch: semi-condensed;
    font-size: 300%;
}

h2 {
    color: #1344a0;
    text-align: center;
    font-family: serif;
    font-stretch: semi-condensed;
    font-size: 200%;
}
